HorizontalVariableListView/bin/
HorizontalVariableListView/gen/
HorizontalVariableListView/.settings/
HorizontalVariableListView/.project
HorizontalVariableListView/.classpath
HorizontalVariableListView/local.properties
HorizontalVariableListView/lint.xml

Demo/bin/
Demo/gen/
Demo/.settings/
Demo/.project
Demo/.classpath
Demo/local.properties
Demo/lint.xml

*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
